// Specific CSS for your home-page
body {
  background-color: #FFE8D6;
  color: #6B705C;
  font-family: 'Inter', sans-serif;
}
.home-title {
  color: #6B705C;
  font-weight: 700;
}
.home-subtitle {
  color: #A5A58D;
  font-style: italic;
}
.section-title {
  color: #6B705C;
}
